<div>
  <h1 class="text-center"><%= pluralize(@products.count, "Result") %></h1>
</div>

<div class="container mx-auto my-4">
  <table class="w-full bg-white border border-gray-300">
    <thead>
      <tr class="bg-gray-100">
        <th class="py-2 px-4 border-b"><%= sort_link(@query, :name, "Name") %></th>
        <th class="py-2 px-4 border-b"><%= sort_link(@query, :description, "Description") %></th>
        <th class="py-2 px-4 border-b"><%= sort_link(@query, :price, "Price") %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b"><%= link_to product.name, product, class: "text-blue-500" %></td>
          <td class="py-2 px-4 border-b"><%= product.description.truncate_words(25) %></td>
          <td class="py-2 px-4 border-b"><%= product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

