<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>

  <div>
    <strong class="block font-medium mb-1">Products:</strong>
    <% products = Product.where(category_id: category.id) %>
    <% if products.any? %>
      <ul>
        <% products.each do |product| %>
          <li>
            <%= link_to "#{product.name} - #{product.description}", product_path(product) %>
          </li>
          <!-- Add more details based on your product model -->
        <% end %>
      </ul>
    <% else %>
      <p>No products in this category.</p>
    <% end %>
  </div>

  <% if action_name != "show" %>
  
    <%= link_to "Show this category", category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if current_user.admin? %>
      <%= link_to "Edit this category", edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>

